
<div class="header__userbar-substrate">
<div class="header__userbar-user-info-container">
    <img class="header__avatar" src="asserts/img/invisibleMan.jpeg{{avatar}}" alt="">
    <div class="header__userbar-name-container">
    <div class="header__userbar-name">имя пользователя</div>
    <div class="header__userbar-email">example.com</div>
    </div>
</div>

<div class="header__userbar-items-container">
    <a class="header__userbar-item" href="/profile">Профиль</a>
    <a class="header__userbar-item" href="/profile">Сохранённые фильмы</a>
    <a class="header__userbar-item" href="/profile">Оценки</a>
    <a class="header__userbar-item" href="/profile">Рецензии</a>
    <a class="header__userbar-item-out" href="/profile" >Выйти</a>
</div>
</div>
