<div class="modal__signup__img">
    <div class="modal__flex__center__div">
        <div class="modal__text__alternative__page">У вас уже есть аккаунт?</div>
        <a href="/login" class="button__yellow modal__login__signup__btn" data-section="login">Войти</a>
    </div>
</div>

<div class="modal__signup">
    <div class="modal__header">Регистрация</div>

    <form class="modal__form" novalidate>
        <div class="modal__wrapper__input">
            <input type="text" maxlength="100" class="modal__input" placeholder="Введите имя пользователя">
        </div>

        <div class="modal__wrapper__input" id="signup_email">
            <input type="email" maxlength="100" class="modal__input" placeholder="Укажите адресс электронной почты">
        </div>

        <div class="modal__wrapper__input">
            <input type="password" maxlength="100" class="modal__input" placeholder="Введите пароль">
        </div>

        <div class="modal__wrapper__input" id="confirm">
            <input type="password" maxlength="100" class="modal__input" placeholder="Подтвердите пароль">
        </div>

        <button type="submit" class="button__yellow modal__input__button">Зарегистрироваться</button>
    </form>

</div>