<div class="premiere-page js-premiere-page">
    <div class="premiere-page__title-container">
        <div class="premiere-page__title">
            Премьеры
        </div>
        <div class="premiere-page__title-description">
            Здесь вы найдёте список новинок российского кинопроката
        </div>
    </div>
    <div class="premiere-page__content js-premiere-content">
    </div>
</div>
