<div class="search-list">
    <div class="search-list__container">
        <div class="search-list__title">
            {{name}}
        </div>
        <div class="search-list__content">
            {{{items}}}
        </div>
    </div>
</div>
