.search-list {
    &__container {
        width: 100%;
        margin-top: 35px;
    }

    &__title {
        color: var(--main-color-text);
        font-size: 22px;
    }

    &__content {
        display: flex;
        flex-flow: row wrap;
        margin-top: 15px;
    }
}
