@mixin star-fill {
    background-repeat: no-repeat;
    background-image: url("@icons/star-fill.png");
}

.premiere-film-date {
    &__container {
        width: 280px;

        @media screen and (max-width: 680px) {
            margin-top: 35px;
        }
    }

    &__row-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__rating {
        color: var(--premier-date-color);
        font-size: 40px;
        font-family: "Mail Sans Roman Med";
    }

    &__button {
        margin-left: 25px;
        height: 30px;
        width: 150px;
        border-radius: 4px;
    }

    &__description {
        color: var(--secondary-color-text);
        font-size: 15px;
        font-family: "Mail Sans Roman Med";
    }

    &__icon-star {
        width: 32px;
        height: 40px;
        @include star-fill;
        background-size: 32px 32px;
    }
}
