<div class="premiere-film-date">
    <div class="premiere-film-date__container">
        <div class="premiere-film-date__row-container">
            <div class="premiere-film-date__rating">{{rating}}</div>
            <div class="premiere-film-date__icon-star"></div>
            <a href="https://afisha.yandex.ru/moscow/cinema/chink-khvostatyi-detektiv?source=selection-events&schedule-preset=today" class="premiere-film-date__button primary-btn-med">Купить билет</a>
        </div>
        <div class="premiere-film-date__description">{{description}}</div>
    </div>
</div>
