.rating {
    margin-top: 36px;
    margin-right: var(--standart-margin);
    margin-left: var(--standart-margin);
    display: flex;
    flex-direction: column;
}

.rating__title {
    color: var(--main-color-text);
    font-size: 24px;
    font-weight: bolder;
}

.rating__content-container {
    display: flex;
    justify-content: space-between;
    width: 655px;
    height: 64px;
}

.rating__star-list {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 500px;
    cursor: pointer;

    /* justify-content: space-between; */
}

.rating__star {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.rating__star-image {
    width: 40px;
    height: 40px;
    background-image: url('@icons/star-empty.png');
    background-repeat: no-repeat;
}

.rating__rate-value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    color: var(--primary-color);
    font-weight: bold;
}


.rating__star:hover .rating__star-image{
    background-repeat: no-repeat;
    background-image: url('@icons/star-fill.png');
}

.rating__star:hover ~ .rating__star .rating__star-image {
    background-repeat: no-repeat;
    background-image: url('@icons/star-fill.png');
}

.rating__text-stars-container {
    display: flex;
    width: 490px;
    justify-content: space-between;
    margin-top: 7px;
}

.rating__text-stars {
    color: var(--main-color-text);
    font-size: 12px;
}

.rating__button-write-review {
    width: 210px;
    height: 42px;
    font-size: 15px;
    margin-top: 22px;

}
