<form class="rating">
    <div class="rating__container">
        <div class="rating__title">
            Как вам сериал?
            {{!-- {{#if type_serial}}
            Как вам сериал?
            {{/if}}

            {{#if type_film}}
            Как вам фильм?
            {{/if}} --}}
        </div>
        <div class="rating__content-container">
            <div class="rating__star-list">
                {{!-- //TODO --}}
                <a href="/" class="rating__star js-rating__star" title="10" selected hovered>
                    <input type="radio" name="stars" class="" value="10">
                    <div class="rating__star-image"></div>
                </a>
                <a href="/" class="rating__star js-rating__star" title="9" selected hovered>
                    <input type="radio" name="stars" class="" value="9">
                    <div class="rating__star-image"></div>
                </a>
                <a href="/" class="rating__star js-rating__star" title="8" selected hovered>
                    <input type="radio" name="stars" class="" value="8">
                    <div class="rating__star-image"></div>
                </a>
                <a href="/" class="rating__star js-rating__star" title="7" selected hovered>
                    <input type="radio" name="stars" class="" value="7">
                    <div class="rating__star-image"></div>
                </a>
                <a href="/" class="rating__star js-rating__star" title="6" selected hovered>
                    <input type="radio" name="stars" class="" value="6">
                    <div class="rating__star-image"></div>
                </a>
                <a href="/" class="rating__star js-rating__star" title="5" selected hovered>
                    <input type="radio" name="stars" class="" value="5">
                    <div class="rating__star-image"></div>
                </a>
                <a href="/" class="rating__star js-rating__star" title="4" selected hovered>
                    <input type="radio" name="stars" class="" value="4">
                    <div class="rating__star-image"></div>
                </a>
                <a href="/" class="rating__star js-rating__star" title="3" selected hovered>
                    <input type="radio" name="stars" class="" value="3">
                    <div class="rating__star-image"></div>
                </a>
                <a href="/" class="rating__star js-rating__star" title="2" selected hovered>
                    <input type="radio" name="stars" class="" value="2">
                    <div class="rating__star-image"></div>
                </a>
                <a href="/" class="rating__star js-rating__star" title="1" selected hovered>
                    <input type="radio" name="stars" class="" value="1">
                    <div class="rating__star-image"></div>
                </a>
            </div>
            <div class="rating__rate-value">8.7</div>
        </div>


        <div class="rating__text-stars-container">
            <span class="rating__text-stars">очень плохо</span>
            <span class="rating__text-stars">отлично</span>
        </div>
        <a href="/"> <div class="rating__button-write-review secondary-btn-med">Написать рецензию</div></a>
    </div>
</form>
