@mixin star-fill {
  background-repeat: no-repeat;
  background-image: url("@icons/star-fill.png");
}

@mixin star-empty {
  background-repeat: no-repeat;
  background-image: url("@icons/star-empty.png");
}

.rating {
  margin-right: var(--standart-margin);
  width: 100%;
  padding-left: var(--standart-margin);
  padding-top: 36px;
  padding-right: var(--standart-margin);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 300px;

  @media screen and (max-width: 1509px) {
    padding-right: 0;
    margin-right: 0;
  }

  &__title {
    color: var(--main-color-text);
    font-size: 24px;
    font-weight: bolder;
  }

  &__content-container {
    display: flex;
    justify-content: flex-start;
    width: 90vw;
    height: calc(40px + (64 - 40) * ((100vw - 300px) / (1920 - 300)));
    max-width: 605px;
  }

  &__star-list {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 71vw;
    max-width: 505px;
  }

  &__star {
    position: relative;
    width: 40px;
    height: 30px;
    margin-right: 10px;
  }

  &__star-image {
    position: absolute;
    top: 0;
    left: 0;
    @include star-empty;
    background-size: contain;
    max-width: 40px;
    width: 4vw;
    height: 40px;
    padding-right: 10px;
    cursor: pointer;
  }

  &__rate-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    padding-top: 1%;

    @media screen and (max-width: 510px) {
      padding-top: 0;
    }
  }

  &__rate-value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(32px + (64 - 32) * ((100vw - 300px) / (1920 - 300)));
    color: var(--primary-color);
    font-weight: bold;

    @media screen and (min-width: 1500px) {
      font-size: 54px;
    }
  }

  &__count-scores {
    color: var(--secondary-color-text);
    font-size: calc(11px + (16 - 11) * ((100vw - 300px) / (1920 - 300)));
  }

  &__star:hover &__star-image {
    @include star-fill;
  }

  &__star:hover ~ &__star &__star-image {
    @include star-fill;
  }

  [data-setted-rate="true"] &__star-image {
    @include star-fill;
  }

  [data-setted-rate="true"] ~ &__star &__star-image {
    @include star-fill;
  }

  &__text-stars-container {
    display: flex;
    width: 71vw;
    justify-content: space-between;
    margin-top: 7px;
    max-width: 495px;
  }

  &__text-stars {
    color: var(--main-color-text);
    font-size: 12px;
  }

  &__button-write-review {
    width: 210px;
    height: 42px;
    margin-top: 32px;
  }

  &__setted {
    &-container {
      width: 180px;
      height: 50px;
      margin-top: 22px;
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 6px 17px;
      align-items: center;
    }

    &-name {
      color: var(--main-color-text);
      font-size: 20px;
    }

    &-value-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-value {
      color: var(--main-color-text);
      font-size: 24px;
      font-weight: bold;
    }

    &-icon-star {
      width: 22px;
      height: 28px;
      @include star-fill;
      background-size: 21px 21px;
      margin-left: 4px;
    }

    &-date {
      color: var(--secondary-color-text);
      font-size: 12px;
    }

    &-delete-btn {
      color: var(--secondary-color-text);
      font-size: 12px;
    }
  }
}
