@mixin star-fill {
  background-repeat: no-repeat;
  background-image: url("@icons/star-fill.png");
}

@mixin star-empty {
  background-repeat: no-repeat;
  background-image: url("@icons/star-empty.png");
}

.rating {
  margin-top: 36px;
  margin-right: var(--standart-margin);
  margin-left: var(--standart-margin);
  display: flex;
  flex-direction: column;
  min-height: 300px;

  &__title {
    color: var(--main-color-text);
    font-size: 24px;
    font-weight: bolder;
  }

  &__content-container {
    display: flex;
    justify-content: space-between;
    width: 655px;
    height: 64px;
  }

  &__star-list {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 500px;
  }

  &__star {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  &__star-image {
    position: absolute;
    top: 0;
    left: 0;
    @include star-empty;
    width: 40px;
    height: 40px;
    padding-right: 10px;
    cursor: pointer;
  }

  &__rate-value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    color: var(--primary-color);
    font-weight: bold;
  }

  &__star:hover &__star-image {
    @include star-fill;
  }

  &__star:hover ~ &__star &__star-image {
    @include star-fill;;
  }

  [data-setted-rate="true"] &__star-image {
    @include star-fill;;
  }

  [data-setted-rate="true"] ~ &__star &__star-image {
    @include star-fill;
  }

  &__text-stars-container {
    display: flex;
    width: 490px;
    justify-content: space-between;
    margin-top: 7px;
  }

  &__text-stars {
    color: var(--main-color-text);
    font-size: 12px;
  }

  &__button-write-review {
    width: 210px;
    height: 42px;
    margin-top: 32px;
  }

  &__setted {
    &-container {
      width: 180px;
      height: 50px;
      margin-top: 22px;
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 6px 17px;
      align-items: center;
    }

    &-name {
      color: var(--main-color-text);
      font-size: 20px;
    }

    &-value-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-value {
      color: var(--main-color-text);
      font-size: 24px;
      font-weight: bold;
    }

    &-icon-star {
      width: 22px;
      height: 26px;
      @include star-fill;
      background-size: 21px 21px;
    }

    &-date {
      color: var(--secondary-color-text);
      font-size: 12px;
    }

    &-delete-btn {
      color: var(--secondary-color-text);
      font-size: 12px;
    }
  }
}
