.review {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: var(--rating-color-neutral-opac);
    border-radius: 20px;
    margin-bottom: 48px;
    max-width: 900px;
    width: calc(100vw - 2 * #{var(--standart-margin) - 48px});

    @media screen and (max-width: 500px) {
      box-sizing: border-box;
    }
  }

  &__meta-info-container {
    display: flex;
    justify-content: space-between;
  }

  &__user-container {
    display: flex;
  }

  &__user-avatar {
    border-radius: 30px;
    width: 48px;
    height: 48px;
    object-fit: cover;
    cursor: pointer;
  }

  &__info-user-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 7px;
  }

  &__username {
    color: var(--main-color-text);
    font-size: 15px;
    cursor: pointer;
  }

  &__user-counter-reviews {
    color: var(--secondary-color-text);
    font-size: 12px;
  }

  &__date {
    color: var(--main-color-text);
    font-size: 12px;
  }

  &__title {
    color: var(--main-color-text);
    font-size: 15px;
    font-weight: bolder;
    margin-top: 36px;
  }

  &__text {
    color: var(--main-color-text);
    font-size: 12px;
    margin-top: 10px;
    word-wrap: break-word;
  }
}
