.review__container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: rgb(133 133 133 / 20%);
  border-radius: 20px;
  margin-bottom: 48px;
  width: 900px;
}

.review__meta-info-container {
  display: flex;
  justify-content: space-between;
}

.review__user-container {
  display: flex;
}

.review__user-avatar {
  border-radius: 30px;
  width: 48px;
  height: 48px;
  background-size: cover;
}

.review__info-user-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 7px;
}

.review__username {
  color: var(--main-color-text);
  font-size: 15px;
}

.review__user-counter-reviews {
  color: var(--secondary-color-text);
  font-size: 12px;
}

.review__date {
  color: var(--main-color-text);
  font-size: 12px;
}

.review__title {
  color: var(--main-color-text);
  font-size: 15px;
  font-weight: bolder;
  margin-top: 36px;
}

.review__text {
  color: var(--main-color-text);
  font-size: 12px;
  margin-top: 10px;
}

[data-value-review="positive"] {
  background-color: rgb(18 183 124 / 20%);
}

[data-value-review="neutral"] {
  background-color: rgb(133 133 133 / 20%);
}

[data-value-review="negative"] {
  background-color: rgb(255 67 80 / 20%);
}
