<div class="content-big">
  <div class="content-big__container">

    <div class="content-big__film-data">

      <div class="content-big__film-title">{{previewTittle}}</div>
      <img class="content-big__film-decore-line" src="img/elements/shtrih.png">
      <div class="content-big__film-description">{{previewDescription}}</div>
      <a class="content-big__button" href="index.html">Перейти</a>

    </div>

    <div class="content-big__blackout"></div>
    <div class="content-big__blackout-bottom"></div>
    <img class="content-big__image" src={{previewImg}}>

  </div>
</div>