<div class="premiere-day">
    <div class="premiere-day__container">
        <div class="premiere-day__line"></div>
        <div class="premiere-day__date-container">
            <div class="premiere-day__date-day">{{dateDay}}</div>
            <div class="premiere-day__date-month">{{dateMonth}}</div>
        </div>
        <div class="premiere-day__days-left">{{daysLeft}}</div>

        <div class="premiere-day__films-container js-premiere-day__films-container">
            {{{films}}}
        </div>
    </div>
</div>
