<div class="user-collections js-user-collections">
    <div class="user-collections__container">
        <div class="user-collections__profile-menu">
            {{{profileMenu}}}
        </div>
        <div class="user-collections__content-container js-user-collections__content-container">
        </div>
    </div>
</div>
