$height_wrapper: 100px;
$max__width_wrapper: 410px;
$min__width_wrapper: 250px;
$margin_top_input: 30px;
$padding_input: 20px;
$margin_bottom_button: 38px;
$margin_bottom_error: 5px;

@mixin profile__form {
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
    align-items: flex-start;
}

.profile__form__title {
    font-size: 28px;
    height: 28px;
    width: max-content;
    color: var(--main-color-text);
}

.profile__form__nick {
    @include profile__form;
    width: 100%;
}

.profile__form__password {
    @include profile__form;
    width: 100%;
    margin-top: 20px;
}

.profile__wrapper__nick {
    height: 80px;
    max-width: $max__width_wrapper;
    min-width: $min__width_wrapper;
    margin-top: $margin_top_input;
    width: 100%;
}

.profile__wrapper__old__password {
    height: $height_wrapper;
    max-width: $max__width_wrapper;
    min-width: $min__width_wrapper;
    width: 100%;
}

.profile__wrapper__password {
    height: $height_wrapper;
    max-width: $max__width_wrapper;
    min-width: $min__width_wrapper;
    margin-top: $margin_top_input;
    width: 100%;
}

@mixin input {
    font-size: 15px;
    height: 42px;
    width: calc(100% - #{var(--standart-margin)});
    border: 2px solid var(--border-input-color);
    border-radius: 8px;
    padding-left: $padding_input;
    padding-right: $padding_input;
    background-color: var(--backgr-inputs-color);
    color: var(--secondary-color-text);
}

.profile__input {
    @include input;
    margin-bottom: $margin_bottom_error;
    max-width: $max__width_wrapper;
}

.profile__nowrapper_input {
    @include input;
    margin-bottom: $margin_bottom_error;
    max-width: $max__width_wrapper - $padding_input;
}

.profile__old__input {
    @include input;
    margin-bottom: $margin_bottom_error;
}

.profile__confirm__input {
    @include input;
    margin-bottom: $margin_bottom_error;
}

.profile__input__button {
    height: 42px;
    border: 0;
    width: 210px;
    margin-bottom: $margin_bottom_button;
}
