<form class="profile__form" novalidate>
    <div class="profile__wrapper__nick">
        <input type="text" maxlength="45" class="profile__input" placeholder="Введите новое имя пользователя">
    </div>

    <input type="password" maxlength="60" class="profile__input" placeholder="Введите пароль">

    <div class="profile__wrapper__password" id="login_password">
        <input type="password" maxlength="60" class="profile__confirm__input" placeholder="Введите пароль">
    </div>
    <button type="submit" class="button_grey profile__input__button">Сохранить изменения</button>
</form>