<div class="profile__form__title">Редактирование</div>

<form class="profile__form__nick js-profile__form__nick" novalidate>
    <div class="profile__wrapper__nick">
        <input type="text" maxlength="45" class="profile__input js-profile__input" placeholder="Введите новое имя пользователя">
    </div>
    <button type="submit" class="profile__input__button secondary-btn-med">Сохранить изменения</button>
</form>

<form class="profile__form__password js-profile__form__password" novalidate>
    <div class="profile__wrapper__old__password js-profile__wrapper__old__password">
        <input type="password" maxlength="60" class="profile__old__input" placeholder="Старый пароль">
    </div>

    <input type="password" maxlength="60" class="profile__nowrapper_input js-profile__input" placeholder="Новый пароль">

    <div class="profile__wrapper__password js-profile__wrapper__password" id="login_password">
        <input type="password" maxlength="60" class="profile__confirm__input" placeholder="Подтверждение пароля">
    </div>
    <button type="submit" class="profile__input__button secondary-btn-med">Сохранить изменения</button>
</form>