<header class="header">

      <a href="/navlink" class="header__logo" data-section="navlink">Logo</a>
      <a href="/navlinke" class="header__navlink" data-section="navlink">Главная</a>
      <a href="/navlink" class="header__navlink" data-section="navlink">Главная</a>
      <a href="/navlink" class="header__navlink" data-section="navlink">Главная</a>


      <form class="header__form">
        <input class="" maxlength="200" type="search" placeholder="Search" aria-label="Search">

      </form>

      <a href="/login" class="header__login" data-section="login">Вход</button>

</header>