<div class="modal__login">
    <h2 class="modal__login__header">Авторизация</h2>

    <form class="modal__form">
        <input type="email" maxlength="100" class="modal__input" placeholder="Укажите адресс электронной почты">

        <input type="password" maxlength="100" class="modal__input" placeholder="Введите пароль">

        <button type="submit" class="modal__input__button">Войти</button>
    </form>

</div>

<div class="modal__login__img">
    <a href="/forgot_password" class="modal__login__forgot__password" data-section="forgot_password">У вас ещё нет
        аккаунта?</a>
    <a href="/signup" class="header__login__signup" data-section="signup">Регистрация</a>
</div>