<header class="header">
  <nav class="navbar">
    <a href="/" class="header__navlink" data-section="/">Logo</a>
    <a href="/" class="header__navlink" data-section="/">Главная</a>
    <a href="/" class="header__navlink" data-section="/">Главная</a>
    <a href="/" class="header__navlink" data-section="/">Главная</a>

    <form class="header__form">
      <input class="" maxlength="200" type="search" placeholder="Search" aria-label="Search">
    </form>

    <a href="/login" class="header__login" data-section="/login"><button>login</button></a>
  </nav>
</header>