<header class="header">
  <nav class="navbar">
    <a class="header__navlink" href="">Logo</a>
    <a class="header__navlink" href="">Главная</a>
    <a class="header__navlink" href="">Главная</a>
    <a class="header__navlink" href="">Главная</a>

    <form class="header__form">
      <input class="" maxlength="200" type="search" placeholder="Search" aria-label="Search">
    </form>

    <a class="header__login" href=""><button>login</button></a>
  </nav>
</header>