  <header>
    <nav class="navbar">
      <div class="header__inner">
        <a class="" href="">Ask guru</a>

        <form class="header__inner">
          <input class="" maxlength="200" type="search" placeholder="Search" aria-label="Search">
          <button class="" type="t">Search</button>
        </form>

        <a href=""><button class="">ASK!</button></a>

      </div>
    </nav>
  </header>