<div class="content-big">
  <div class="content-big__container">

    <div class="content-big__film-data">

      <div class="content-big__film-title">Американская история игрушек</div>
      <img class="content-big__film-decore-line" src="img/elements/shtrih.png">
      <div class="content-big__film-description"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo delectus praesentium veritatis nihil esse labore iste sit expedita libero! Recusandae eveniet qui modi rem distinctio? Optio totam deleniti obcaecati ipsa.</div>
      <a class="content-big__button" href="index.html">Перейти</a>

    </div>

    <div class="content-big__blackout"></div>
    <div class="content-big__blackout-bottom"></div>
    <img class="content-big__image" src="img/dune.jpg">

  </div>
</div>