<div class="modal__signup__img">
    <a href="/forgot_password" class="modal__login__forgot__password" data-section="forgot_password">У вас ещё нет аккаунта?</a>
    <a href="/login" class="header__login__signup" data-section="login">Войти</a>
</div>

<div class="modal__signup">
    <h2 class="modal__login__header">Авторизация</h2>

    <input type="email" maxlength="100" class="modal__input" placeholder="Укажите адресс электронной почты">

    <input type="password" maxlength="100" class="modal__input" placeholder="Введите пароль">


    <button type="submit" class="modal__input__button">Зарегистрирваться</button>

</div>
