<div class="main-page">
    <div class="js-main-page-preview-film">
    </div>

    <div class="main-page__content">
        <div class="js-main-page-collection-popular"></div>
        <div class="js-main-page-collection-in_cinema"></div>
    </div>
</div>
