<div class="main-page js-main-page">
    <div class="js-main-page-preview-film">
    </div>

    <div class="main-page__content">
        <div class="js-collection-tag-popular"></div>
        <div class="js-collection-tag-in_cinema"></div>
    </div>
</div>
