.header {
    display: flex;
}

.navbar {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    padding-left: 15%;
    padding-right: 15%;
}

.header__login {
    display: inline-block;
    white-space: nowrap;
}

.header__form {
    display: inline-block;
    margin-left: auto;
    margin-right: 5%;
}

.header__navlink {
    display: inline-block;
    white-space: nowrap;
    margin-right: 5%;
}

BODY {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
}

.content-big {
    display: flex;
    width: 1920px;
    height: 1080px;
}

.content-big__blackout {
    position: absolute;
    top: -30px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background-color: rgba(18, 18, 18, 0.3);
    z-index: -1;
}

.content-big__blackout-bottom {
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 1920px;
    height: 237px;
    background: linear-gradient(180deg, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 77%);
    z-index: -1;
}

.content-big__image {
    position: absolute;
    top: -30px;
    left: 0px;

    z-index: -2;
    /* width: 1920px; */
    /* top: -1110px; */
}
.content-big__container {
    height: 1080px;
    display: flex;
    position: relative;
    align-items: flex-end;
}

.content-big__film-data {
    /* position: relative; */
    /* z-index: 0; */
    /* top: 0px;
    left: 0px; */
    /* flex-basis: 700px;    */

    display: flex;

    flex-direction: column;
    align-self: flex-end;



    margin: 52px 0px 30px 52px;
}

.content-big__film-title {
    color: #fff;
    font-weight:bold;
    font-size: 48px;
    width: 500px;
    /* margin: 0px 0px 0px 0px; */
}

.content-big__film-decore-line {
    margin: 13px 0px 0px 0px;
    width: 354px;
}

.content-big__film-description {
    color: #fff;
    font-size: 15px;
    width: 317px;
    margin: 9px 0px 0px 0px;
}

.content-big__button {
    background-color: #FEBA2B;
    border-radius: 27px;
    box-sizing: border-box;
    width: 180px;
    height: 46px;
    font-size: 15px;
    padding: 10px;
    margin: 15px 0px 122px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    /* align-self: flex-end; */

    text-decoration: none;
    font-size: 20px;
    font-weight:bolder;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.content-big__button:hover {
    background-color: #E4AA2F;
}

.content-big__button:active {
    background-color: #A07925;
}



.collection {
    margin: 0px 0px 0px 52px;
}

.collection__container {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    flex-wrap: nowrap;
}

.collection__container a {
    text-decoration: none;
}

/* .film__rating:hover {
    color: #12B77C;
} */


.collection__tittle {
    font-size: 28px;
    color:#fff;
    width: 295px;
    height: 38px;
}

.film {
    height: 353px;
    padding: 0px 10px 53px 10px;
    margin: 30px 30px 0px 0px;
    /* position: relative; */

}

.film:hover {
    /* height: 353px; */
    padding: 0px 10px 53px 10px;
    margin: 15px 15px 15px -15px;
}

.film:hover .film__poster {
    width: 240px;
    height: 320px;
    border-radius: 5px;
}

.film:hover .film__tittle {
    margin: 5px 0px 0px 15px;
}

.film:hover .film__genry {
    margin: 10px 0px 0px 15px;
}

.film:hover .film__rating {
    /* margin: 10px 0px 0px 15px; */
    top: -314px;
    left: -10px;
}

/* .film:hover .film__info-container {
    margin: 0px 0px 0px 15px;
} */
/* .film__poster:hover {
    width: 240px;
    height: 320px;
    border-radius: 5px;
    background-color: #000;

}

.film__poster:hover film {
    padding: 0px 10px 53px 10px;
    margin: 15px 15px 15px -15px;
} */

.film__rating {
    font-size: 15px;
    color: #fff;

    background-color: #12B77C;
    padding: 1px 6px 0px 6px;
    width: 32px;
    height: 20px;
    box-sizing: border-box;

    position: relative;
    top: -293px;
    left: -10px;
    border-radius: 4px;

}

/* .film__blackout {
    p
} */

.film__poster {
    width: 210px;
    height: 300px;
    border-radius: 5px;
    /* position: absolute;
    top: 0px;
    left: 10px; */
}

.film__poster:hover {
    /* width: 224px;
    height: 320px;
    padding: 2em;
    margin: -2em; */

    /* background-color: rgba(18, 18, 18, 0.3); */
}

.film__tittle {
    font-size: 15px;
    color: #fff;
    width: 180px;
    height: 24px;
    margin: 10px 0px 0px 0px;
}

.film__info-container {
    display: flex;
    /* justify-content:space-between */
}

.film__decore-circle {
    width: 6px;
    height: 6px;
    background-color: rgb(197, 197, 197);
    border-radius: 6px;
    margin: 13px 10px 0px 10px;
}

.film__genry {
    font-size: 12px;
    color: #9C9C9C;
    /* width: 127px;
    height: 22px; */
    margin: 10px 0px 0px 0px;
}

.film__year {
    font-size: 12px;
    color: #9C9C9C;
    width: 65px;
    height: 22px;
    margin: 10px 0px 0px 0px;
}

@media screen and (max-width: 740px){
    .header__form{display:none}
};