<div class="preview-film" style="background-image: url('{{!-- http://movie-gate.online:8088/v1/image?object=film_poster_hor&key= --}}{{poster_hor}}');">
    <div class="preview-film__container">

        <div class="preview-film__film-data">
            <div class="preview-film__film-title">{{film_name}}</div>
            <img class="preview-film__film-decore-line" src="shtrih.png">
            <div class="preview-film__film-description">{{short_description}}</div>
            <a class="preview-film__button primary-btn-big">Перейти</a>
        </div>
        <div class="preview-film__blackout-bottom"></div>

    </div>
</div>
