<div class="preview-film" style="background-image: url('{{poster_hor}}');">
    <div class="preview-film__container">

        <div class="preview-film__film-data">
            <div class="preview-film__film-title">{{film_name}}</div>
            <img class="preview-film__film-decore-line" src="asserts/img/elements/shtrih.png">
            <div class="preview-film__film-description">{{short_desctiption}}</div>
            <a class="preview-film__button" href="index.html">Перейти</a>
        </div>
        <div class="preview-film__blackout-bottom"></div>

    </div>
</div>
