@mixin icon-check {
  background-image: url("@icons/check.png");
  background-position-y: -3px;
}

.menu-save {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: var(--backgr-menu-save);
    padding: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    margin-left: 14px;
    top: 48px + 7px;
    position: absolute;
    width: max-content;

    @media screen and (max-width: 800px) {
      position:absolute;
      margin-left: 0;
      right: 0;
    }
  }

  &__items-container {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 10px;
  }

  &__item-container {
    display: flex;
    flex-flow: row nowrap;
  }

  &__check-container {
    width: 20px;
    height: 20px;
    position: relative;
  }

  &__title {
    color: var(--text-color-on-secondary);
    font-size: 15px;
    font-weight: bolder;
  }

  &__item {
    color: var(--main-color-text);
    font-size: 15px;
    margin-left: 10px;
    width: max-content;

    &-btn {
      display: block;
      width: auto;
      height: 26px;
      padding-right: 12px;
    }

    &:hover {
      color: var(--primary-color);
    }
  }
}

[used-in-collection="true"] {
  @include icon-check;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
