@mixin icon-check {
  background-image: url("@icons/check.png");
  background-position-y: -3px;
}

.menu-save {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: var(--backgr-menu-save);
    padding: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    margin-left: 14px;
    margin-top: 7px;
  }

  &__items-container {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-gap: 10px 15px;
    align-items: center;
    margin-top: 10px;
  }

  &__title {
    color: var(--text-color-on-secondary);
    font-size: 15px;
    font-weight: bolder;
  }

  [used-in-collection="true"] {
    @include icon-check;
    width: 20px;
    height: 20px;
  }

  &__item-link {
    display: block;
  }

  &__item {
    color: var(--main-color-text);
    font-size: 15px;

    &:hover {
      color: var(--primary-color);
    }
  }
}
