<div class="menu-save__container js-menu-save__container">
    <div class="menu-save__title">Сохранить в</div>
    <div class="menu-save__items-container">
        {{#each collections}}
            <div class="menu-save__used-icon js-menu-save__used-icon"
                    {{#if isUsed}} used-in-collection="true" {{/if}} data-name="{{coll_name}}"></div>
            <a data-section="/" class="menu-save__item-link">
                <div class="menu-save__item">
                    {{coll_name}}
                </div>
            </a>
        {{/each}}
    </div>
</div>
