<div class="menu-save__container js-menu-save__container">
    <div class="menu-save__title">Сохранить в</div>
    <div class="menu-save__items-container">
        {{#each collections}}
            <div class="menu-save__used-icon"
                    {{#if is_used}} used-in-collection="true" {{/if}} {{!-- data-name="{{name_collection}}" --}}></div>
            <a data-section="/" class="menu-save__item-btn js-menu-save__item-btn" data-name="{{name_collection}}>
                <div class="menu-save__item">
                    {{name_collection}}
                </div>
            </a>
        {{/each}}
    </div>
</div>
