<div class="page__collection">
    <div class="page__collection__title">{{name}}</div>
    {{#if description}}
    <div class="page__collection__description">{{description}}</div>
    {{/if}}
    <div class="page__collection__body">
        {{{films}}}
    </div>
</div>