<div class="page__collection">
    <div class="page__collection__title">{{name}}</div>
    <div class="page__collection__description">{{description}}</div>
    <div class="page__collection__body">
        {{{films}}}
    </div>
</div>
