.page__collection {
    width: 100vw;
    height: 100vh;
    padding-top: var(--header-height);

    &__title {
        margin: 0 var(--standart-margin);
        font-size: calc(28px + (40 - 28) * ((100vw - 300px) / (1920 - 300)));
        color: var(--main-color-text);
    }

    &__description {
        margin: 25px var(--standart-margin) 70px;
        font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1920 - 300)));
        color: var( --secondary-color);
    }

    &__body {
        display: flex;
        flex-flow: row wrap;
        gap: 5px;
        padding: var(--standart-margin);
    }
}
