.page__collection {
    width: 100vw;
    padding-top: var(--header-height);

    &__head {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    &__title {
        margin: 0 auto 0 var(--standart-margin);
        font-size: calc(28px + (40 - 28) * ((100vw - 300px) / (1920 - 300)));
        color: var(--main-color-text);
    }

    &__share {
        width: 46px;
        height: 46px;
        margin-right: var(--standart-margin);
    }

    &__description {
        margin: 25px var(--standart-margin) 30px;
        font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1920 - 300)));
        color: var( --secondary-color-text);
    }

    &__body {
        display: flex;
        flex-flow: row wrap;
        gap: 5px;
        padding: var(--standart-margin);
    }

    .header__userbar-user-info-container{
        align-items: center;
        
        .header__userbar-name-container {
            align-items: flex-end;
            margin-right: 15px;
        }

        .header__avatar{
            margin-top: 4px 15px 0 0;
        }
    }
}
