@mixin flex__row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@mixin column__flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.profile{
    @include flex__row;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;

    height: 100vh;
}

.profile__avatar__flex{
    @include column__flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;

    margin-top: 95px + 54px;
    margin-left: 103px;
}

.profile__avatar{
    border: 0px;
    border-radius: 8px;
    height: 400px;
    width: 300px;
    
    object-fit: cover;
}

.profile__avatar__button{ 
    @include flex__row;
    justify-content: center;
    align-content: center;
    align-items: center;

    margin-top: 23px;
    height: 42px;
    width: 100%;
    border: 0px;
    border-radius: 8px;
    background-color: #4E4D4D;

    font-size: 15px;
    color: #FFF;

    cursor: pointer;
}

.profile__avatar__button:hover{
    background-color: #736D6D;
    transition: 0.1s linear;
    cursor: pointer;
}

.profile__avatar__button_center{
    margin-left: 16px;
}

.profile__user__flex{
    @include column__flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;

    margin-top: 95px + 54px;
    margin-left: 49px;

    color:#FFF;
}

.profile__username{
    font-family: 'Mail Sans Roman Med';
    font-size: 36px;
    margin-bottom: 36px;
}

.profile__email{
    font-family: 'Mail Sans Roman Med';
    font-size: 20px;
    margin-bottom: 53px;
}

.profile__info__flex {
    @include flex__row;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}

.profile__info__wrapper{
    @include column__flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.profile__info__value__wrapper{
    @include column__flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 27px;
}

.profile__info__field{
    font-size: 20px;
    color: #A3A3A3;
    margin-bottom: 35px;
}

.profile__info__value{
    font-size: 20px;
    margin-bottom: 35px;
}

.profile__change{
    @include column__flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;

    margin-top: 95px + 54px;
    margin-left: 32px;
}

.profile__change__svg{
    cursor: pointer;
}
