@mixin flex__row{
    display: flex;
    flex-flow: row;
}

@mixin column__flex {
    display: flex;
    flex-flow: column nowrap;
}

$profile-height: calc(240px + (400 - 240) * ((100vw - 300px) / (1920 - 300)));
$profile-width: calc(180px + (300 - 180) * ((100vw - 300px) / (1920 - 300)));

.profile {
    @include flex__row;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    height: 100vh;

    &__content-container {
        display: flex;
        justify-content: flex-start;
    }

    &__avatar{
        border: 0;
        border-radius: 8px;
        height: $profile-height;
        width: $profile-width;
        max-width: 300px;
        max-height: 400px;
        object-fit: cover;

        &__button{
            @include flex__row;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin-top: 23px;
            height: 42px;
            width: 100%;
            border: 0;
            border-radius: 8px;
            font-size: 15px;

            &:hover{
                background-color: var(--secondary-color-hover);
                transition: 0.1s linear;
                cursor: pointer;
            }
        }

        &__button_center {
            margin-left: 16px;
        }

        &__flex{
            @include column__flex;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: flex-start;
            margin-top: calc(var(--header-height) + 54px);
            margin-left: 100px;

            @media screen and (max-width: 800px) {
                margin-left: var(--standart-margin);
            }
        }
    }

    &__img__form{
        width: 100%;
        height: auto;
    }

    &__file__input_none{
        display: none;
    }

    &__user_content{
        @include flex__row;
        margin-top: calc(var(--header-height) + 54px);
        margin-left: 49px;
        margin-right: 52px;
        flex-wrap: wrap;

        @media screen and (max-width: 800px) {
            margin-left: var(--standart-margin);
        }
        @media screen and (max-width: 700px) {
            margin-top: 20px;
        }
    }

    &__user__flex{
        @include column__flex;
        align-content: flex-start;
        align-items: flex-start;
        color: var(--main-color-text);
        width: 100vw;
        min-width: 400px;
        max-width: 450px;
        margin-right: 36px;
    }

    &__user-container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 36px;
        width: 100vw;
    }

    &__username {
        font-family: "Mail Sans Roman Med";
        font-size: 36px;
    }

    &__email {
        font-family: "Mail Sans Roman Med";
        font-size: 20px;
        margin-bottom: 53px;
    }

    &__info {
        &__flex {
            @include flex__row;
            justify-content: flex-start;
            align-content: center;
            align-items: flex-start;
        }

        &__wrapper {
            @include column__flex;
            justify-content: center;
            align-content: flex-start;
            align-items: flex-start;
        }

        &__value__wrapper {
            @include flex__row;
            justify-content: space-between;
            align-content: center;
            align-items: flex-start;
            width: 100%;
        }

        &__field{
            font-size: 20px;
            color: var(--secondary-color-text);
            margin-bottom: 35px;
            width: 200px;
        }

        &__value {
            font-size: 20px;
            width: 200px;
        }
    }

    &__change{
        @include column__flex;
        justify-content: center;
        align-content: flex-start;
        align-items: flex-start;
        width: 100vw;
        min-width: 270px;
        max-width: 320px;

        &__svg {
            cursor: pointer;
            margin-left: 15px;
            display: flex;
            align-items: center;
            height: 40px;
        }
    }
}
