.actor-profile {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    margin-bottom: 70px;
    padding: var(--header-height) var(--standart-margin) 0 var(--standart-margin);

    &__content {
        display: flex;
        margin-top: 65px;
        max-height: 400px;
    }

    &__primary {
        display: flex;
        max-height: 400px;
    }

    &__gallery {
        display: flex;
        flex-flow: row wrap;
        gap: 5px;
        overflow: hidden;
        max-width: 45vw;

        &__title {
            display: none;
            margin-left: var(--standart-margin);
            height: 28px;
            color: var(--main-color-text);
            font-size: 28px;
            width: 100vw;
            justify-content: flex-start;
            margin-bottom: var(--standart-margin);
        }

        @media screen and (max-width: 800px) {
            margin-top: 35px;
            max-width: 85vw;
        }
    }

    &__gallery-item {
        min-height: 153px;
        margin: 5px;
        max-height: 186px;
        object-fit: contain;
        border-radius: 8px;
    }

    &__image {
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 8px;
        margin-right: var(--standart-margin);
        margin-bottom: var(--standart-margin);
        max-height: 350px;
        height: 47vh;
        max-width: 300px;
    }

    &__information {
        font-style: normal;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin-right: 100px;

        @media screen and (max-width: 500px) {
            margin-right: 0;
        }
    }

    &__name {
        height: 42px;
        font-weight: 600;
        font-size: 22px;
        line-height: 42px;
        color: var(--main-color-text);
        white-space: nowrap;
    }

    &__original-name {
        white-space: nowrap;
        height: 28px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--secondary-color-text);
    }

    &__about {
        margin-top: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-color-text);
    }

    &__about-item {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        margin-top: 30px;
        width: 100%;
    }

    &__about-item-key {
        width: 160px;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        color: var(--secondary-color-text);
    }

    &__about-item-value {
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        color: var(--main-color-text);
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;

        @media screen and (max-width: 500px) {
            width: 150px;
        }
    }
}

.actor-page-content {
    margin-top: -40px;
}