.actor-profile {
    display: flex;
    justify-content: flex-end;
    flex-flow: column wrap;
    margin-left: 52px;
    margin-bottom: 80px;
    padding-top: 95px;

    &__content {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        margin-top: 65px;
        height: 400px;
    }

    &__primary {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 40%;
        min-width: 660px;
        max-height: 400px;
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
        gap: 5px;
        margin: 0 auto;
        max-width: 700px;
    }

    &__gallery-item {
        min-height: 153px;
        border-radius: 5px;
        margin: 5px;
        background: 50% 25%/cover;
    }

    &__image {
        min-width: 300px;
        min-height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 8px;
    }

    &__information {
        width: 50%;
        font-style: normal;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    &__name {
        height: 42px;
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
        color: var(--main-color-text);
        white-space: nowrap;
    }

    &__original-name {
        white-space: nowrap;
        height: 28px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: var(--secondary-color);
    }

    &__about {
        margin-top: 55px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: var(--main-color-text);
    }

    &__about-item {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        margin-top: 30px;
    }

    &__about-item-key {
        width: 200px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: var(--secondary-color-text);
    }

    &__about-item-value {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: var(--main-color-text);
    }
}
