<div class="profile__menu__column">
    <div class="profile__menu">
        <div class="profile__menu__flex">
            <div class="profile__menu__header">Управление</div>
            <a data-section="/profile/" class="profile__menu__links" >Профиль</a>
            <a data-section="/collections/" class="profile__menu__links js-showError">Коллекции</a>
            <a class="profile__menu__links js-showError">Оценки</a>
            <a class="profile__menu__links js-showError">Рецензии</a>
        </div>
    </div>
    <div class="profile__gradient"></div>
</div>
