<div class="profile__menu__column">
    <div class="profile__menu">
        <div class="profile__menu__flex">
            <a class="profile__menu__header">Управление</h2>
            <a data-section="/profile/" class="profile__menu__links" >Профиль</a>
            <a class="profile__menu__links" id="showError">Коллекции</a>
            <a class="profile__menu__links" id="showError">Оценки</a>
            <a class="profile__menu__links" id="showError">Рецензии</a>
        </div>
    </div>
    <div class="profile__gradient"></div>
</div>
