<div class="profile__menu__column">
    <div class="profile__menu">
        <div class="profile__menu__flex">
            <div class="profile__menu__header">Управление</div>
            <a data-section="/profile/" class="profile__menu__links js-profile__menu__links js-profile__menu-item-profile">Профиль</a>
            <a data-section="/user/collections/" class="profile__menu__links js-profile__menu__links js-profile__menu-item-collections">Коллекции</a>
            <a class="profile__menu__links js-profile__menu__links js-showError js-profile__menu-item-rates">Оценки</a>
            <a class="profile__menu__links js-profile__menu__links js-showError js-profile__menu-item-reviews">Рецензии</a>
        </div>
    </div>
    <div class="profile__gradient"></div>
</div>
