<div class="profile__menu__flex">
    <h2>Управление</h2>
    <a class="profile__menu__links">Профиль</a>
    <a class="profile__menu__links">Буду смотреть</a>
    <a class="profile__menu__links">Коллекции</a>
    <a class="profile__menu__links">Оценки</a>
    <a class="profile__menu__links">Рецензии</a>
</div>