$color-menu-max: rgba(23 23 23 /100%);
$color-menu-min: rgba(23 23 23 /0%);

@mixin column__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.profile__menu{
    margin-top: 95px;
    background: linear-gradient(to top, $color-menu-max, $color-menu-min);
}

.profile__gradient{
    height: 100%;
    width: 307px;
    background: linear-gradient(to bottom, $color-menu-max, $color-menu-min);
}

.profile__menu__flex {
    @include column__flex;
    height: 470px;
    width: 307px;
    color:  var(--main-color-text);
}

.profile__menu__column {
  @include column__flex;

  height: 100%;
}

.profile__menu__links{
    cursor: pointer;
    font-size: 20px;
    color: var(--main-color-text);
    margin-left: 52px;
    margin-bottom: 30px;
}

.profile__menu__links:hover {
    color:var(--primary-color);
    transition: 0.08s linear;
}

.profile__menu__header{
    font-size: 36px;
    color: var(--main-color-text);
    margin-left: 52px;
    margin-bottom: 45px;
}
