<div class="modal__background js-modal__background">
    <div class="modal__window js-modal__window">
        <div class="modal__window__flex js-modal__window__flex">
        </div>
    </div>
</div>
