$textarea-height: 165px;
$input-height: 46px;


@mixin dropped-items {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin-bottom: 3px;
  margin-left: 49px;
  margin-right: 8px;
}

@mixin icon-arrow-drop {
  background-image: url("@icons/arrow-drop.png");
  background-repeat: no-repeat;
}


.input-review {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 48px;
    box-sizing: border-box;
    background-color: var(--backgr-modal-review);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    max-width: 700px;
    width: 95vw;
    height: auto;
  }

  &__head {
    color: var(--main-color-text);
    font-size: 36px;
    width: 400px;
  }

  &__user-container {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__user-avatar {
    border-radius: 30px;
    width: 48px;
    height: 48px;
    object-fit: cover;
  }

  &__info-user-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 7px;
  }

  &__username {
    color: var(--main-color-text);
    font-size: 15px;
  }

  &__user-counter-reviews {
    color: var(--secondary-color-text);
    font-size: 12px;
  }

  &__input-title {
    width: -webkit-fill-available;
    border: 0;
    height: $input-height;
    border-radius: 4px;
    padding: 0 24px;
    box-sizing: border-box;
    font-size: 15px;
  }

  &__input-text {
    width: -webkit-fill-available;
    border: 0;
    max-height: $textarea-height;
    resize: none;
    border-radius: 4px;
    padding: 16px 24px;
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 35px;
  }

  &__select__wrapper {
    height: $input-height + 35px;
  }

  &__select {
    position: relative;
    display: block;
    min-width: 220px;
    width: -webkit-fill-available;
    height: $input-height;
    background-color: var(--backgr-select);
    border-radius: 4px;
  }

  &__select-head-text {
    font-size: 20px;
    color: var(--main-modal-color);
  }

  &__select-head {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 0 4px var(--main-shadow-color-light);
    border-radius: 4px;
    padding: 10px 24px;
  }

  &__select-head-icon {
    width: 22px;
    height: 13px;
    @include icon-arrow-drop;
  }

  &__select-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--backgr-select-list);
    box-shadow: 0 4px 16px var(--main-shadow-color-strong);
    border-radius: 4px;
    margin-top: 7px;
    max-height: 205px;
    z-index: 1;
    padding: 12px 0;
    font-size: 14px;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
    cursor: pointer;
  }

  &__select-list &__select-item {
    position: relative;
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none;
    font-size: 18px;
  }

  &__select-list &__select-item:hover {
    background-color: var(--backgr-select-item);
  }

  &__select-icon-positive {
    background-color: var(--rating-color-positive);
    @include dropped-items;
  }

  &__select-icon-neutral {
    background-color: var(--rating-color-neutral);
    @include dropped-items;
  }

  &__select-icon-negative {
    background-color: var(--rating-color-negative);
    @include dropped-items;
  }
}

.input-title__wrapper {
  height: $input-height + 35px;
}

.input-text__wrapper {
  max-height: $textarea-height + 35px;
}

.modal__input__button-review {
  width: -webkit-fill-available;
  height: $input-height;
}
