.premiere-list {
    &__container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding-left: var(--standart-margin);
        padding-right: var(--standart-margin);
    }
}
