.genre {
    &__background {
        width: 270px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__svg {
        height: 115px;
    }
}

.js-collection-genre-genres {
    .collection__slider-button_right {
        top: calc(50% + 28px);
    }
}
