.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  font-weight: normal;
  position: absolute;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  z-index: 5;
  box-sizing: border-box;

  &__logo {
    white-space: nowrap;
    margin-right: 20px;
    margin-left: var(--standart-margin);
    font-size: 30px;
    color: var(--main-color-text);
    text-decoration: none;
    height: 50px;
    width: auto;
    cursor: pointer;
  }

  &__navlink {
    white-space: nowrap;
    margin-right: 30px;
    font-size: 18px;
    color: var(--main-color-text);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
      transition: 0.08s linear;
    }
  }

  &__navlink-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--header-height);
  }

  &__form {
    margin-left: auto;
    margin-right: 30px;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    position: relative;
  }

  &__form__icon-search {
    position: absolute;
    top: 10px;
    width: 16px;
    height: auto;
    z-index: 2;
    padding-left: 10px;
    content: url("@icons/icon-search.png");
  }

  &__form__input {
    height: 35px;
    width: 25vw;
    border-radius: 18px;
    border: 0;
    background: #333;
    color: var(--main-color-text);
    opacity: 0.8;
    padding-left: 37px;

    @media screen and (max-width: 680px) {
      width: 40vw;
    }
  }

  &__form__input:focus + &__form__icon-search {
    filter: invert(56%) sepia(71%) saturate(495%) hue-rotate(3deg) brightness(125%) contrast(100%);
    transition: 0.08s linear;
  }

  &__login__btn {
    margin-right: calc(var(--standart-margin) + var(--margin-left-login-btn)/3);
    height: 35px;
    width: 178px;
    min-width: 100px;
    margin-left: calc(var(--margin-left-login-btn) - var(--margin-left-login-btn)/3);
  }

  &__avatar {
    flex: 0 1 auto;
    align-self: baseline;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    object-fit: cover;
  }
}
