<div class="header__userbar-items-container">
    <a class="header__userbar-item" href="">Профиль</a>
    <a class="header__userbar-item" href="">Сохранённые фильмы</a>
    <a class="header__userbar-item" href="">Оценки</a>
    <a class="header__userbar-item" href="">Рецензии</a>
    <a class="header__userbar-item-out" href="/logout" data-section="logout">Выйти</a>
</div>
