<div class="header__userbar-items-container">
    <a class="header__userbar-item" href="/profile">Профиль</a>
    <a class="header__userbar-item" href="/profile">Сохранённые фильмы</a>
    <a class="header__userbar-item" href="/profile">Оценки</a>
    <a class="header__userbar-item" href="/profile">Рецензии</a>
    <a class="header__userbar-item-out" href="/logout" data-section="logout">Выйти</a>
</div>
