@mixin link-mobile-menu {
  margin-top: 2vh;
  padding-left: 10vw;
  font-size: large;
  width: 100%;
  box-sizing: border-box;
  height: 6vh;
  cursor: pointer;
}

@mixin primary-animation-hover {
  color: var(--primary-color-hover);
  transition: 0.1s linear;
  cursor: pointer;
}

.header__userbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 220px;

  &-substrate {
    z-index: 5;
    width: auto;
    height: auto;
    padding: 16px 0 0 22px;
    display: flex;
    color: var(--main-color-text);
    flex-flow: column nowrap;
    align-self: flex-start;
    margin-top: 14px;
    border-radius: 15px;
    margin-right: var(--standart-margin);
  }

  &-user-info-container {
    display: flex;
  }

  &-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12px;
    overflow: hidden;
    width: 150px;
    margin-right: 30px;
  }

  &-name {
    font-size: 15px;
    color: var(--main-color-text);
  }

  &-email {
    font-size: 12px;
    color: var(--primary-color);
    opacity: 0.75;
  }

  &-items-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-flow: column nowrap;
  }

  &-item {
    margin-top: 12px;
    font-size: 15px;
    text-decoration: none;
    color: var(--main-color-text);
    cursor: pointer;
  }

  &-item-profile {
    margin-top: 12px;
    font-size: 15px;
    text-decoration: none;
    color: var(--main-color-text);
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
      transition: 0.08s linear;
    }
  }

  &-item-out {
    color: var(--secondary-color-text);
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;

    &:hover {
      color: var(--primary-color);
      transition: 0.08s linear;
    }
  }
}

.userbar {
  &__nick__email {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 12px;
  }

  &-on {
    background-color: var(--backgr-userbar-color-on);
    cursor: pointer;
  }

  &-off {
    background-color: var(--backgr-userbar-color-off);
  }
}

.js-header {
  &__menu-mobile__area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: var(--header-height)/2;
    left: 0;
  }

  &__menu-mobile__target:hover &__mobile-userbar {
    display: flex;
  }

  &__menu-mobile__svg {
    margin-left: var(--standart-margin);
    min-width: 35px;
  }

  &__mobile-userbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 10;
    background-color: rgba(44 44 44 / 60%);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    height: 120%;
    width: 66vw;
    padding-top: 5vh;
    border-radius: 0 3%;

    @media (orientation: landscape) {
      width: 44vw;
    }

    &__header {
      color: var(--menu-title-color);
      padding-left: 5vw;
      font-size: x-large;
      border-bottom: 2px solid var(--line-color-userbar);
      height: 7vh;
      width: 100%;
      box-sizing: border-box;
      min-height: 34px;
      margin-bottom: 2vh;

      @media (orientation: landscape) {
        height: 12vh;
        margin-bottom: 5vh;
      }
    }

    &__link {
      color: var(--main-color-text);
      @include link-mobile-menu;
      min-height: 29px;
      
      &:hover {
        @include primary-animation-hover;
      }
    }

    &__link-out {
      color: var(--secondary-color-text);
      @include link-mobile-menu;
      min-height: 29px;

      &:hover {
        @include primary-animation-hover;
      }
    }

    &__logo {
      height: 9vh;
      width: auto;
      margin-top: 20px;
      padding-left: 10vw;
      margin-left: 0;
      min-height: 44px;
    }
  }

  &__mobile-userbar-substrate {
    z-index: 5;
    width: auto;
    height: auto;
    display: flex;
    color: var(--main-color-text);
    flex-flow: column nowrap;
    align-self: flex-start;
    border-radius: 15px;
    margin-right: var(--standart-margin);
    margin-left: 20px;
  }
}
