.header__userbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    width: 220px;
}

.userbar__nick__email {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    margin-left: 12px;
}

.header__userbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;

    width: 220px;
    height: 213px;

    margin-top: 222px;
    margin-right: 52px;
    padding: 16px 11px 16px 11px;

    align-self: flex-start;
    margin-top: 14px;
}

.header__userbar-substrate {
    z-index: 5;
    color: #000;
    width: 209px;
    height: 219px;
    margin-right: 52px;
    padding: 16px 0px 0px 16px;
    display: flex;
    flex-direction: column;
    color: #fff;
    flex-wrap: nowrap;
    align-self: flex-start;
    margin-top: 14px;
    border-radius: 15px;
}

.header__userbar-user-info-container {
    display: flex;
}

.header__userbar-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12px;
}

.header__userbar-name {
    font-size: 15px;
    color: #fff;
}

.header__userbar-email {
    font-size: 12px;
    color: #AFAFAF;
}

.header__userbar-items-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;
    /* margin-top: -15px; */
}

.header__userbar-item {
    margin-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.header__userbar-item:hover {
    color:#FEBA2B;
    transition: 0.08s linear;
}

.header__userbar-item-out {
    color: #AFAFAF;
    margin-top: 12px;
    text-decoration: none;
}

.userbar__nick__email {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    margin-left: 12px;
}

.userbar-on {
    background-color: RGBA(15, 15, 15, 0.8);
}

.userbar-off {
    background-color: RGBA(15, 15, 15, 0);
}