<div class="header__userbar-items-container">
    <a class="header__userbar-item" data-section="/profile/">Профиль</a>
    <a class="header__userbar-item">Сохранённые фильмы</a>
    <a class="header__userbar-item">Оценки</a>
    <a class="header__userbar-item">Рецензии</a>
    <a class="header__userbar-item-out" href="/logout" data-section="logout">Выйти</a>
</div>
