<div class="header__userbar-items-container js-header__userbar-user-info-container  dysplay-none">
    <a class="header__userbar-item-profile js-header__userbar-item-profile" data-section="/profile/">Профиль</a>
    <a class="header__userbar-item js-header__userbar-item js-showError">Сохранённые фильмы</a>
    <a class="header__userbar-item js-header__userbar-item js-showError">Оценки</a>
    <a class="header__userbar-item js-header__userbar-item js-showError">Рецензии</a>
    <a class="header__userbar-item-out js-header__userbar-item-out" data-section="logout">Выйти</a>
</div>
