.menu-info-film {
  width: calc(100vw - #{var(--standart-margin)});
  margin-right: var(--standart-margin);

  &__items {
    display: flex;
    border-bottom: 3px;
    border-color: var(--main-modal-color);
    border-bottom-style: solid;
    margin-left: var(--standart-margin);
  }

  &__item-description {
    font-size: 22px;
    color: var(--main-color-text);
    width: 140px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -3px;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__item-details {
    font-size: 22px;
    color: var(--main-color-text);
    width: 165px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -3px;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }
  }
}

[data-menu-info-film-item-active="true"] {
  border-bottom: 3px;
  border-bottom-style: solid;
  border-color: var(--primary-color);

  &:hover {
    color: var(--main-color-text);
  }
}
