.menu-info-film {
  width: auto;
  padding-left: var(--standart-margin);
  padding-right: var(--standart-margin);
}

.menu-info-film__items {
  display: flex;
  border-bottom: 3px;
  border-color: #2e2e2e;
  border-bottom-style: solid;
}

.menu-info-film__item-description {
  font-size: 22px;
  color: var(--main-color-text);
  width: 140px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -3px;
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }
}

.menu-info-film__item-details {
  font-size: 22px;
  color: var(--main-color-text);
  width: 172px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -3px;
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }
}

[data-menu-info-film-item-active="true"] {
  border-bottom: 3px;
  border-bottom-style: solid;
  border-color: var(--primary-color);

  &:hover {
    color: var(--main-color-text);
  }
}
