<div class="menu-info-film">
    <div class="menu-info-film__items">
        <a>
            <div class="menu-info-film__item-description js-menu-info-film__item-description" data-menu-info-film-item-active="true">Описание</div>
        </a>
        <a>
            <div class="menu-info-film__item-details js-menu-info-film__item-details">Подробности</div>
        </a>
    </div>
</div>
