<div class="search-page js-search-page">
    <div class="search-page__content-container">
        <div class="search-page__block js-search-page__films">
        </div>

        <div class="search-page__block js-search-page__serials">
        </div>

        <div class="search-page__block js-search-page__persons">
        </div>
    </div>
</div>
