.search-page {
    &__content-container {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 calc(var(--standart-margin) + 20px) 0 calc(var(--standart-margin) + 20px);
        width: auto;
    }

    &__no-content {
        margin-top: 40px;
        color: var(--main-color-text);
        font-size: 28px;

        &-btn {
            width: 210px;
            height: 42px;
            margin-top: 40px;
        }
    }

    &__title {
        margin-top: var(--header-height);
        color: var(--main-color-text);
        font-size: 28px;
        margin-left: var(--standart-margin);
    }
}
