.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;

    height: 95px;
    z-index: 2;

    /* position: absolute; */
    position: fixed;
    width: 100%;
}

.header__logo {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    white-space: nowrap;
    margin-right: 10px;
    font-size: 18px;
    margin-left: 100px;
    color: #fff;
    text-decoration: none;
}

.header__navlink {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    white-space: nowrap;
    margin-right: 10px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.header__form {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    margin-left: auto;
    margin-right: 46px;

    font-size: 18px;
    text-decoration: none;
}

.header__form__input {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    height: 35px;
    width: 470px;
    border-radius: 18px;
    border: 0px;
    background: #333333;
    opacity: .8;
}

.header__login {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;
    font-size: 20px;
    text-decoration: none;
    background-color: #FEBA2B;

    margin-right: 100px;
    height: 46px;
    width: 180px;
    border-radius: 40px;
}

.header__userbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    width: 220px;
}

.userbar__nick__email {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    margin-left: 12px;
}

.header__nickname {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.header__email {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.header__avatar {
    order: 0;
    flex: 0 1 auto;
    align-self: baseline;

    width: 42px;
    height: 42px;
    border-radius: 21px;
    object-fit: cover;
}



body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 740px){
    .header__form{display:none}
};