<div class="list-reviews">
    <div class="list-reviews__container">
        <div class="list-reviews__head-container">
            <div class="list-reviews__title">Рецензии зрителей</div>
            <a class="list-reviews__btn-write-review">
                <div class="list-reviews__btn-icon"></div>
            </a>
        </div>

        <div class="list-reviews__content-container js-list-reviews__content-container">
            {{{reviews}}}
        </div>

        <a class="list-reviews__btn-show-more">Показать больше</a>
    </div>
</div>
