<div class="list-reviews">
    <div class="list-reviews__container">
        <div class="list-reviews__head-container">
            <div class="list-reviews__title">Рецензии зрителей</div>
            <a data-section="/" class="js-list-reviews__btn-write-review">
                <div class="list-reviews__btn-write-review">
                    <svg width="46" height="46" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M61.6455 33.9131C61.6455 33.3608 61.1978 32.9131 60.6455 32.9131C60.0932 32.9131 59.6455 33.3608 59.6455 33.9131V58.4313H33.9121C33.3598 58.4313 32.9121 58.879 32.9121 59.4313C32.9121 59.9836 33.3598 60.4313 33.9121 60.4313H59.6455V84.9495C59.6455 85.5018 60.0932 85.9495 60.6455 85.9495C61.1978 85.9495 61.6455 85.5018 61.6455 84.9495V60.4313H87.3789C87.9312 60.4313 88.3789 59.9836 88.3789 59.4313C88.3789 58.879 87.9312 58.4313 87.3789 58.4313H61.6455V33.9131Z" fill="white"/>
                    <path d="M59.6455 58.4313V61.4313C61.3023 61.4313 62.6455 60.0882 62.6455 58.4313H59.6455ZM59.6455 60.4313H62.6455C62.6455 58.7745 61.3023 57.4313 59.6455 57.4313V60.4313ZM61.6455 60.4313V57.4313C59.9886 57.4313 58.6455 58.7745 58.6455 60.4313H61.6455ZM61.6455 58.4313H58.6455C58.6455 60.0882 59.9886 61.4313 61.6455 61.4313V58.4313ZM60.6455 35.9131C59.5409 35.9131 58.6455 35.0177 58.6455 33.9131H64.6455C64.6455 31.7039 62.8546 29.9131 60.6455 29.9131V35.9131ZM62.6455 33.9131C62.6455 35.0177 61.7501 35.9131 60.6455 35.9131V29.9131C58.4363 29.9131 56.6455 31.7039 56.6455 33.9131H62.6455ZM62.6455 58.4313V33.9131H56.6455V58.4313H62.6455ZM33.9121 61.4313H59.6455V55.4313H33.9121V61.4313ZM35.9121 59.4313C35.9121 60.5359 35.0167 61.4313 33.9121 61.4313V55.4313C31.703 55.4313 29.9121 57.2222 29.9121 59.4313H35.9121ZM33.9121 57.4313C35.0167 57.4313 35.9121 58.3267 35.9121 59.4313H29.9121C29.9121 61.6404 31.703 63.4313 33.9121 63.4313V57.4313ZM59.6455 57.4313H33.9121V63.4313H59.6455V57.4313ZM62.6455 84.9495V60.4313H56.6455V84.9495H62.6455ZM60.6455 82.9495C61.7501 82.9495 62.6455 83.845 62.6455 84.9495H56.6455C56.6455 87.1587 58.4363 88.9495 60.6455 88.9495V82.9495ZM58.6455 84.9495C58.6455 83.845 59.5409 82.9495 60.6455 82.9495V88.9495C62.8546 88.9495 64.6455 87.1587 64.6455 84.9495H58.6455ZM58.6455 60.4313V84.9495H64.6455V60.4313H58.6455ZM87.3789 57.4313H61.6455V63.4313H87.3789V57.4313ZM85.3789 59.4313C85.3789 58.3267 86.2743 57.4313 87.3789 57.4313V63.4313C89.588 63.4313 91.3789 61.6404 91.3789 59.4313H85.3789ZM87.3789 61.4313C86.2743 61.4313 85.3789 60.5359 85.3789 59.4313H91.3789C91.3789 57.2222 89.588 55.4313 87.3789 55.4313V61.4313ZM61.6455 61.4313H87.3789V55.4313H61.6455V61.4313ZM58.6455 33.9131V58.4313H64.6455V33.9131H58.6455Z" fill="white"/>
                    </svg>
                </div>
            </a>
        </div>

        <div class="list-reviews__content-container js-list-reviews__content-container">
            {{{reviews}}}
        </div>

        <a><div class="list-reviews__btn-show-more js-btn-show-more-reviews"></div></a>
    </div>
</div>
