.list-reviews {
  &__container {
    display: flex;
    flex-direction: column;
    margin-left: var(--standart-margin);

    @media screen and (max-width: 1000px) {
      margin-right: var(--standart-margin);
    }
  }

  &__head-container {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: calc(26px + (36 - 26) * ((100vw - 300px) / (1920 - 300)));
    color: var(--main-color-text);
  }

  &__btn-write-review {
    margin-left: 18px;
    width: 46px;
    height: 46px;

    &:hover {
      background-color: var(--secondary-color-hover);
      border-radius: 5px;
    }
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &__no-content {
    font-size: 20px;
    color: var(--secondary-color-text);
    display: block;
    margin-top: 60px;
    padding: 24px;
  }

  &__btn-show-more {
    display: flex;
    justify-content: flex-end;
    color: var(--main-color-text);
    font-size: 20px;

    &:hover {
      color: var(--primary-color);
      cursor: pointer;
    }
  }
}
