.about-film {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100vh + (100 - 75) * ((100vw - 300px) / (1920 - 300)));
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 510px;

  @media (orientation: landscape) {
    padding-top: calc(#{var(--header-height)} + 30px);
    width: 100vw;
  }

  &__blackout-bottom {
    width: 100%;
    height: 237px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--blackout-bottom-content);
  }

  &__blackout-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
    min-height: 510px;
    height: 100%;
    background: var(--blackout-left-content);

    @media screen and (max-width: 1200px) {
      width: 600px;
    }

    @media screen and (max-width: 620px) {
      width: 250px;
    }
  }

  &__container {
    display: flex;
    position: relative;
    width: calc(100% - var(--standart-margin));
    z-index: 1;
    flex-direction: column;
    margin-left: var(--standart-margin);
    align-self: center;

    @media screen and (max-height: 600px) {
      margin-top: 70px;
    }
  }

  &__title {
    color: var(--main-color-text);
    font-size: calc(28px + (40 - 28) * ((100vw - 300px) / (1920 - 300)));
    font-weight: bolder;
  }

  &__original-title {
    color: var(--secondary-color-text);
    font-size: 20px;
    margin-top: 3px;
  }

  &__base-info {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 19px;
  }

  &__rating {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-size: 15px;
    padding: 1px 6px 0;
    width: 32px;
    height: 20px;
    top: 9px;
    left: 0;
    border-radius: 4px;
    color: var(--main-color-text);
    margin-right: 23px;

    @media screen and (max-width: 360px) {
      margin-right: 5px;
    }
  }

  &__year {
    color: var(--main-color-text);
    font-size: 15px;
    margin-right: 23px;

    @media screen and (max-width: 360px) {
      margin-right: 5px;
    }
  }

  &__duration {
    color: var(--main-color-text);
    font-size: 15px;
    margin-right: 23px;

    @media screen and (max-width: 360px) {
      margin-right: 5px;
    }
  }

  &__count-seasons {
    color: var(--main-color-text);
    font-size: 15px;
    margin-right: 23px;

    @media screen and (max-width: 360px) {
      margin-right: 5px;
    }
  }

  &__age-limit {
    color: var(--main-color-text);
    font-size: 15px;
  }

  &__short-description {
    color: var(--main-color-text);
    margin-top: 21px;
    max-width: 540px;
    width: 80vw;
  }

  &__info-item-value-container {
    display: flex;
    flex-flow: row wrap;
  }

  &__directors {
    display: flex;
    color: var(--secondary-color-text);
    margin-top: 24px;
    max-width: 540px;
    width: 80vw;
  }

  &__label-director {
    width: 94px;
  }

  &__director {
    color: var(--main-color-text);
    margin-left: 2px;
    flex-wrap: nowrap;

    &:hover {
      color: var(--primary-color);
      transition: 0.08s linear;
    }
  }

  &__roles {
    display: flex;
    color: var(--secondary-color-text);
    margin-top: 24px;
  }

  &__label-role {
    width: 94px;
  }

  &__role {
    color: var(--main-color-text);
    margin-left: 2px;
    flex-wrap: nowrap;

    &:hover {
      color: var(--primary-color);
      transition: 0.08s linear;
    }
  }

  &__buttons-container {
    display: flex;
    margin-top: 38px;
  }

  &__button-trailer {
    max-width: 180px;
    width: 40vw;
    min-width: 130px;
    height: 46px;
  }

  &__button_play-trailer {
    margin-right: 10px;
  }

  &__button-bookmark {
    width: 48px;
    height: 48px;
  }

  &__button-plus {
    width: 48px;
    height: 48px;
  }

  &__save-to-collection {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__btn-save-to-bookmar {
    margin-left: 14px;
  }

  &__btn-save-to-collection {
    margin-left: 14px;
  }
}
