.details-film {
  display: flex;
  margin-left: var(--standart-margin);
  flex-flow: row wrap;
  padding-bottom: 50px;

  &__info-container {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    overflow: hidden;
  }

  &__list-info-title {
    font-size: 22px;
    color: var(--main-color-text);
  }

  &__info-pair {
    display: flex;
    margin-top: 37px;
    width: calc(100vw - 2 * #{var(--standart-margin)});
    max-width: 470px;
  }

  &__info-item-key {
    font-size: 15px;
    color: var(--secondary-color-text);
    width: 270px;

    @media screen and (max-width: 400px) {
      width: 160px;
    }
  }

  &__info-item-value {
    font-size: 15px;
    color: var(--main-color-text);
    flex-wrap: nowrap;
    white-space: nowrap;

    &:hover {
      color: var(--primary-color);
      cursor: pointer;
    }
  }

  &__info-item-value-container {
    display: flex;
    flex-flow: row wrap;
    width: min-content;
  }

  &__info-item-value-info {
    font-size: 15px;
    color: var(--main-color-text);
    flex-wrap: nowrap;
  }

  &__list-actors-container {
    display: flex;
    flex-direction: column;
    margin-right: var(--standart-margin);
    margin-left: 100px;

    @media screen and (max-width: 1000px) {
      margin-left: 0;
    }
  }

  &__count-actors {
    color: var(--secondary-color-text);
  }

  &__total-count-actors {
    color: var(--secondary-color-text);
  }

  &__actor__container {
    display: flex;
    position: relative;
    margin-bottom: 29px;
  }

  &__list-actors {
    display: flex;
    height: auto;
    width: auto;
    flex-flow: column wrap;
    margin-top: 37px;
  }

  &__list-actors-title {
    font-size: 22px;
    color: var(--main-color-text);
    margin-top: 37px;
  }

  &__actor__blackout {
    position: absolute;
    top: 0;
    left: 0;
    width: 81px;
    height: 108px;
    background-color: var(--blackout-color);
    opacity: 0;
    z-index: 2;
    border-radius: 4px;
    transition: 0.1s linear;

    &:hover {
      opacity: 0.3;
      transition: 0.1s linear;
      cursor: pointer;
    }
  }

  &__actor__photo {
    width: 81px;
    height: 108px;
    border-radius: 4px;
    background-size: cover;
  }

  &__actor__info-container {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
  }

  &__actor__name {
    color: var(--main-color-text);
    font-size: 15px;
    margin-top: 8px;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__actor__role {
    color: var(--secondary-color-text);
    font-size: 12px;
    margin-top: 4px;

    &:hover {
      color: var(--primary-color);
    }
  }
}
