.description-film {
    margin-left: var(--standart-margin);
    margin-top: 36px;
    width: 900px;
    height: auto;
}

.description-film__content {
    color: var(--main-color-text);
    font-size: 15px;
}
