.description-film {
  margin: 0 var(--standart-margin) 0 var(--standart-margin);
  margin-top: 36px;
  width: calc(100vw - 2 * #{var(--standart-margin)});
  max-width: 800px;
  height: auto;

  @media screen and (max-width: 800px) {
    box-sizing: border-box;
  }

  &__content {
    color: var(--main-color-text);
    font-size: 15px;
  }
}
