<div class="modal__login">
    <div class="modal__header">Авторизация</div>

    <form class="modal__form" novalidate>
        <div class="modal__wrapper__input">
            <input type="email" maxlength="45" class="modal__input" placeholder="Укажите адресс электронной почты">
        </div>

        <div class="modal__wrapper__input" id="login_password">
            <input type="password" maxlength="60" class="modal__input" placeholder="Введите пароль">
        </div>

        <button type="submit" class="modal__input__button-auth primary-btn-small">Войти</button>
    </form>

</div>

<div class="modal__login__img" style="background-image: url('assets/img/auth/login.png');">
    <div class="modal__flex__center__div">
        <div class="modal__text__alternative__page">У вас ещё нет аккаунта?</div>
        <a href="/signup" class="modal__login__switch__btn primary-btn-small" data-section="signup">Регистрация</a>
    </div>
</div>
