.modal__login {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  border-radius: 30px 0 0 30px;
  background: #191a1d;
  min-width: 300px;
  width: 50%;
  height: 100%;

  .modal__flex__center__div {
    display: none;

    .primary-btn-small {
      background: #191a1d;
      color: var(--primary-color);
    }

    .modal__text__alternative__page {
      max-width: 195px;
      width: 115px;
      font-size: var(--font-size-small);
    }

    .modal__login__switch__btn {
      margin-right: 0;
      width: 110px;
      max-width: 150px;
      font-size: 12px;
    }
  }

  &__img {
    position: relative;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("@assets/img/auth/login.png");
    border-radius: 0 30px 30px 0;
    background-size: cover;
  }
}
