<div class="review-statistic js-component-review-statistic">
    <div class="review-statistic__container">
        <div class="review-statistic__name">Всего</div>
        <div class="review-statistic__value">{{total}}</div>

        <div class="review-statistic__name">Положительные</div>
        <div class="review-statistic__value_positive">{{positive}}</div>

        <div class="review-statistic__name">Нейтральные</div>
        <div class="review-statistic__value_neutral">{{neutral}}</div>

        <div class="review-statistic__name">Отрицательные</div>
        <div class="review-statistic__value_negative">{{negative}}</div>
    </div>
</div>
