@import "@components/Header/header.scss";
@import "@components/Login/login.scss";
@import "@components/Modal/modal.scss";
@import "@components/Signup/signup.scss";
@import "@components/Userbar/userbar.scss";
@import "@components/Collection/collection.scss";
@import "@components/Film/film.scss";
@import "@components/PreviewFilm/previewFilm.scss";
@import "@components/ErrorMessage/errorMessage.scss";
@import "@components/AboutFilm/aboutFilm.scss";
@import "@components/MenuInfoFilm/menuInfoFilm.scss";
@import "@components/DescriptionFilm/descriptionFilm.scss";
@import "@components/DetailsFilm/detailsFilm.scss";
@import "@components/Rating/rating.scss";
@import "@components/InputReview/inputReview.scss";
@import "@components/ReviewStatistic/reviewStatistic.scss";
@import "@components/ListReviews/listReviews.scss";
@import "@components/Review/review.scss";
@import "@components/SaveToCollectionMenu/saveToCollectionMenu.scss";
@import "@components/ProfileMenu/profileMenu.scss";
@import "@components/ProfileChange/profileChange.scss";
@import "@views/UserProfile/userProfile.scss";
@import "@components/_Components.scss";
@import "@views/FilmPage/filmPage.scss";
@import "@fonts/fonts.css";

::-webkit-scrollbar { /* Webkit */
    width      : 0;  /* ширина scrollbar'a */
    background : transparent  /* опционально */
}

html {
    -ms-overflow-style : none;  /* IE 10+ */
    scrollbar-width    : none /* Firefox */
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type="radio"] { all: unset; }

body, html {
  --backgr-color: #121212;
  --primary-color: #feba2b;
  --primary-color-hover: #cd9826;
  --secondary-color: rgb(86 86 86 / 50%);
  --secondary-color-hover: rgb(177 177 177 / 35%);
  --main-color-text: #fff;
  --secondary-color-text: #bebebe;
  --standart-margin: 52px;
  --error-color:rgb(150 0 0);
  font-family: 'Mail Sans Roman';
  background-color: var(--backgr-color);
  margin: 0;
  padding: 0;
}

a, button {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .header__form { display: none; }
}

.active {
  font-weight: bold;
}
