@import "@components/Header/header.scss";
@import "@components/Login/login.scss";
@import "@components/Modal/modal.scss";
@import "@components/Signup/signup.scss";
@import "@components/Userbar/userbar.scss";
@import "@components/Collection/collection.scss";
@import "@components/Film/film.scss";
@import "@components/PreviewFilm/previewFilm.scss";
@import "@components/Message/errorMessage.scss";
@import "@components/Message/successMessage.scss";
@import "@components/AboutFilm/aboutFilm.scss";
@import "@components/MenuInfoFilm/menuInfoFilm.scss";
@import "@components/DescriptionFilm/descriptionFilm.scss";
@import "@components/DetailsFilm/detailsFilm.scss";
@import "@components/Rating/rating.scss";
@import "@components/InputReview/inputReview.scss";
@import "@components/ReviewStatistic/reviewStatistic.scss";
@import "@components/ListReviews/listReviews.scss";
@import "@components/Review/review.scss";
@import "@components/SaveToCollectionMenu/saveToCollectionMenu.scss";
@import "@components/ProfileMenu/profileMenu.scss";
@import "@components/ProfileChange/profileChange.scss";
@import "@views/UserProfile/userProfile.scss";
@import "@components/_Components.scss";
@import "@views/FilmPage/filmPage.scss";
@import "@components/ActorProfile/actorProfile.scss";
@import "@fonts/fonts.css";
@import "@router/Page404/page404.scss";
@import "@components/PremiereDay/premiereDay.scss";
@import "@components/PremiereFilm/premiereFilm.scss";
@import "@components/PremiereList/premiereList.scss";
@import "@components/PremiereFilmDate/premiereFilmDate.scss";
@import "@views/PremierePage/premierePage.scss";
@import "@views/SearchPage/searchPage.scss";
@import "@components/PersonMed/personMed.scss";
@import "@components/SearchList/searchList.scss";
@import "@views/CollectionPage/collectionPage.scss";
@import "@views/UserCollections/userCollections.scss";
@import "@components/PreviewUserCollection/previewUserCollection.scss";
@import "@components/UserCollList/userCollList.scss";


::-webkit-scrollbar { /* Webkit */
    width      : 0;  /* ширина scrollbar'a */
    background : transparent  /* опционально */
}

html {
    -ms-overflow-style : none;  /* IE 10+ */
    scrollbar-width    : none /* Firefox */
}

textarea {
    font-family: 'Mail Sans Roman';
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type="radio"] { all: unset; }


body, html {
    --main-shadow-color-light: rgb(0 0 0 / 20%);
    --main-shadow-color-strong: rgb(0 0 0 / 40%);
    --blackout-color: 0,0,0;
    --backgr-color: #121212;
    --primary-color: #feba2b;
    --primary-color-hover: #cd9826;
    --secondary-color: rgb(86 86 86 / 50%);
    --secondary-color-hover: rgb(177 177 177 / 35%);
    --main-color-text: #fff;
    --text-color-on-primary: #000;
    --text-color-on-secondary: #fff;
    --secondary-color-text: #A5A5A5;
    --text-danger: #e72d2d;
    --standart-margin: 52px;
    --header-height: 95px;
    --margin-left-login-btn: 72px;
    --error-color:rgb(150 0 0);
    --success-color: rgb(98 167 127);
    --rating-color-neutral: #858585;
    --rating-color-neutral-opac: rgb(133 133 133 / 20%);
    --rating-color-positive: #12B77C;
    --rating-color-positive-opac: rgb(18 183 124 / 20%);
    --rating-color-negative: #ff4350;
    --rating-color-negative-opac: rgb(255 67 80 / 20%);
    --backgr-select-item: #656565;
    --backgr-modal-review: rgb(43 43 46 / 80%);
    --main-modal-color: #191a1d;
    --backgr-inputs-color: #27292E;
    --backgr-select: #fff;
    --backgr-select-list: #e2e2e2;
    --border-input-color: #333;
    --blackout-bottom-content: linear-gradient(180deg, rgb(18 18 18 / 0%) 0%, rgb(18 18 18 / 100%) 77%);
    --blackout-left-content: linear-gradient(90deg, rgb(18 18 18 / 100%) 14%, rgb(18 18 18 / 64.3%) 48%, rgb(18 18 18 / 0%) 100%);
    --backgr-userbar-color-on: rgb(15 15 15 / 80%);
    --backgr-userbar-color-off: rgb(15 15 15 / 0%);
    --backgr-menu-save: rgb(86 86 86 / 50%);
    --color-menu-max: rgba(23 23 23 /100%);
    --color-menu-min: rgba(23 23 23 /0%);
    --premier-date-color: #BDBDBD;
    --secondary-weak-text: #E0E0E0;
    --font-size-big: 48px;
    font-family: 'Mail Sans Roman';
    background-color: var(--backgr-color);
    margin: 0;
    padding: 0;
}

a, button {
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: none;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .profile__menu__column {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .header__form {
    display: none;
  }

  body, html {
    --standart-margin: 15px;
    --margin-left-login-btn: 155px;
    --font-size-big: 36px;
  }

  .header{
    &__login__btn {
      margin-right: var(--standart-margin);
      margin-left: var(--margin-left-login-btn);
    }

    body, html {
        --standart-margin: 15px;
        --margin-left-login-btn: 155px;
        --font-size-big: 36px;
    }

    .header{
        &__login__btn {
            margin-right: var(--standart-margin);
            margin-left: var(--margin-left-login-btn);
        }

        &__userbar-substrate {
            margin-right: 25px;
        }
    }

  .page__collection__body .film{
    margin-right: 0;
  }

  .input-review {
    &__container{
      padding: 25px 20px;
    }

    &__head{
      font-size: 25px;
    }

    &__select-head-text {
      font-size: 15px;
    }

    &__input-title {
      font-size: 12px;
    }

    &__input-text {
      font-size: 12px;
    }

    &__user-container {
      margin-top: 15px;
    }

    &__select {
      height: 41px;
    }
  }
}
}

.active {
    font-weight: bold;
}
