$width-coll: calc(160px + (240 - 160) * ((100vw - 300px) / (1920 - 300)));
$height-coll: $width-coll;

@mixin animation-prop {
    opacity: 0;
    transition: 0.12s linear;
}

.user-collection {
    &__container {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        align-items: flex-start;
        padding-right: 30px;
        padding-bottom: 70px;
    }

    &__poster-container {
        width: $width-coll;
        padding-bottom: 15px;
        box-sizing: border-box;
        position: relative;
    }

    &__poster {
        width: $width-coll;
        height: $height-coll;
        border-radius: 24px;
        background-size: $width-coll;
        transition: 0.12s linear;
    }

    &__blackout {
        width: $width-coll;
        height: $height-coll;
        background-color: var(--blackout-color);
        @include animation-prop;
        position: absolute;
        top: 0;
        cursor: pointer;
        border-radius: 24px;
    }

    &__icon-enter {
        position: absolute;
        top: calc($width-coll/2 - 25px);
        left: calc($width-coll/2 - 25px);
        @include animation-prop;
        cursor: pointer;
    }

    &__statistic {
        display: flex;
        flex-flow: row nowrap;
        position: absolute;
        bottom: 33px;
        left: 33px;
        width: max-content;
        height: 20px;
        justify-content: space-between;
        cursor: pointer;
    }

    &__icon-films {
        @include animation-prop;
    }

    &__count-films {
        color: var(--secondary-weak-text);
        font-size: 15px;
        font-family: "Mail Sans Roman Med";
        @include animation-prop;
        margin-top: 3px;
        margin-left: 10px;
    }

    &__title {
        color: var(--main-color-text);
        font-size: 20px;
    }

    &__create-time {
        color: var(--secondary-color-text);
        font-size: 15px;
    }

    &__poster-container:hover &__blackout {
        width: $width-coll;
        height: $height-coll;
        opacity: 0.3;
        position: absolute;
        top: 0;
        cursor: pointer;
    }

    &__poster-container:hover &__icon-enter {
        opacity: 1;
    }

    &__poster-container:hover &__icon-films {
        opacity: 1;
    }

    &__poster-container:hover &__count-films {
        opacity: 1;
    }
}
