.collection {
    margin: 0px 0px 0px 52px;
}

.collection__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 38px;
    position: relative;
    overflow-x:hidden;
}

.collection__container a {
    text-decoration: none;

}

.collection__title {
    font-size: 28px;
    color:#fff;
}

.collection__slider {
    display: flex;
    position: relative;

    left: 0;
    transition: all ease 0.5s;
}

.collection__slider-button_right {
    position: absolute;
    left: 1758px;
    top: 128px;
    width: 43px;
    height: 43px;
}

.collection__slider-button_right img {
    width: 43px;
    height: 43px;
    opacity: 0.4;
}

.collection__slider-button_right img:hover {
    width: 43px;
    height: 43px;
    opacity: 0.8;
}

.collection__slider-button_left {
    position: absolute;
    left: 0px;
    top: 128px;

    width: 43px;
    height: 43px;
}

.collection__slider-button_left img {
    width: 43px;
    height: 43px;
    opacity: 0.4;
}

.collection__slider-button_left img:hover {
    width: 43px;
    height: 43px;
    opacity: 0.8;
}