<div class="collection">
    <div class="collection__title">{{title}}</div>
    <div class="collection__container">
        <div class="collection__slider">

            {{{films}}}

        </div>
        <a href="" class="collection__slider-button_right"><img src="asserts/img/elements/btn-slider-right.png"></a>
        <a href="" class="collection__slider-button_left"><img src="asserts/img/elements/btn-slider-left.png"></a>
    </div>
</div>
