<div class="collection">
    <div data-section="/collection/{{url}}/" class="collection__title">{{name}}</div>
    <div class="collection__container js-collection__container">
        <div class="collection__slider js-collection__slider">

            {{{films}}} 

        </div>
        <a class="collection__slider-button_right js-collection__slider-button_right"><img src="/btn-slider-right.png"></a>
        <a class="collection__slider-button_left js-collection__slider-button_left"><img src="/btn-slider-left.png"></a>
    </div> 
</div>
