<div class="user-collection-list">
    <div class="user-collection-list__title">
        Ваши коллекции
    </div>
    <div class="user-collection-list__container js-user-collection-list__container">
        {{{collections}}}
    </div>
</div>
