.error {
  position: fixed;
  top: 88vh;
  left: 0;
  width: 200px;
  padding: 10px 15px;
  background-color: var(--error-color);
  margin-left: var(--standart-margin);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  z-index: 10;

  @media screen and (max-width: 600px) {
    top: 30px;
    left: 0;
  }

  &__text {
    color: var(--main-color-text);
    font-size: 20px;
  }
}
