.error {
  position: fixed;
  // top: 70px;
  bottom: 30vh;
  left: 0;
  width: 200px;
  padding: 10px 15px;
  background-color: var(--error-color);
  margin-left: var(--standart-margin);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

  &__text {
    color: var(--main-color-text);
    font-size: 20px;
  }
}
