.film-page {
  width: 100%;
}

.film-page__description-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.film-page__reviews {
  display: flex;
  flex-wrap: nowrap;
}

.collection {
  margin-top: 110px;
}
