.film-page {
  width: 100%;
  height: 444vh;
}

.film-page__description-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.film-page__reviews {
  display: flex;
  flex-wrap: nowrap;
}

/* .film-page__recomendations {
    margin-top: 110px;
} */

.collection {
  margin-top: 110px;
}
