<div class="film-page js-film-page">
    <div class="js-film-page__about">
    </div>
    <div class="film-page__content-container js-film-page__content-container">
        <div class="film-page__menu js-film-page__menu"></div>
        <div class="film-page__description-container">
            <div class="film-page__description js-film-page__description"></div>
            <div class="film-page__rating js-film-page__rating"></div>
        </div>

        <div class="film-page__details js-film-page__details"></div>
    </div>
    <div class="film-page__recomendations js-film-page__recomendations">
        <div class="js-collection-tag-similar">
        </div>

        </div>
        <div class="film-page__reviews">
            <div class="film-page__review-container js-reviews-list">
            </div>
            <div class="film-page__review-statistics js-reviews-statistic">
            </div>
        </div>
</div>
